nav {
    background-color: #3F51B5;
}
i {
    color: #ffc107;
}
.active {
    color: #ffc107 !important;
}
.dropdown-menu {
    background-color: #f8f9fa ;
}

.dropdown-item:hover {
    background-color: #3F51B5;
    color: white  !important;
}
nav .navbar-nav .nav-link:hover {
    color: #ffc107 !important;
}

.logout {
    cursor: pointer;
}