<section class="py-5 mt-3 text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="fs-4 fw-bold">
                    <i class="fas fa-file-alt me-1"></i>
                    Quick Note
                </h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos optio ullam quas eum vitae distinctio
                    asperiores eos voluptatum laboriosam in?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum beatae in deleniti numquam
                    dignissimos, illum ab sed eos consectetur sint.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quasi delectus laudantium aperiam
                    nesciunt! Ullam velit odit quo numquam doloremque!
                </p>
            </div>
            <div class="col-lg-3">
                <h2 class="fs-4 fw-bold">
                    Quick Linkes
                </h2>
                <ul class="list-unstyled">
                    <li class="mb-2">Home</li>
                    <li class="mb-2">About</li>
                    <li class="mb-2">Privacy Policy</li>
                    <li class="mb-2">Contact Us</li>
                    <li class="mb-2">terms & conditions</li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h2 class="fs-4 fw-bold">
                    Our Services
                </h2>
                <ul class="list-unstyled">
                    <li class="mb-2">Web Design</li>
                    <li class="mb-2">Moblie Devolpent</li>
                    <li class="mb-2">Seo Optmization</li>
                    <li class="mb-2">Consulting</li>
                    <li class="mb-2">terms & conditions</li>
                </ul>
            </div>
        </div>
    </div>
</section>