.add .btn{
    background-color: #5c6bc0;
    transition: all .4s;
}
.add .btn:hover {
    background-color: #3949ab;
}

.form-control {
    border: 2px solid #d1d9e6;
}
.form-control:focus {
    border-color: #5c6bc0;
    box-shadow: 0px 0px 0px  5px rgba(92,107,192,.3);
}

h3,h2 {
    color: #2c3e50;
}

p {
    color: #4a4a4a;
}
.update .btn{
    background-color: #5c6bc0;
    transition: all .4s;
}
.update .btn:hover {
    background-color: #3949ab;
}
.delete .btn {
    background-color: #e74c3c;
    transition: all .4s ;
}
.delete .btn:hover {
    background-color: #c0392b;
}
.card {
    border:2px solid #E0E0E0 ;
    box-shadow: 0px 4px 8px rgba(0,0,0,.1);
    transition: all .4s;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-3px);
    box-shadow: opx 6px 12px rgba(0,0,0,.15);
}